<!DOCTYPE html>
<html lang="en">

    <head>
    <title>The Social Residence Protocol</title>
    <meta charset="UTF-8">

    </head>

    <body>

        <h1>About Social Identity Protocol</h1>

        <h2>What is SIR?</h2>

        <p>The Social Identity Residence, or SIR protocol, allows individuals the opportunity to interact with the DWeb in a pseudonymous manor that respects both the autonomy of the blockchain and the accountability of the centralized world.
            A Secure Identity Residence or SIR is assigned to each user that joins the network.
            This SIR is 128 character public key that connect Assets, liabilities and relevant network information to a user.
            This in short allows a person to have both anonymity but also take advantage of things like credit worthiness, network demand issues and personal services without need ting to attach these to a name.
            We are allowing Users to use products and serves on a computational basis, effectively separating an individual from their online identity.
            First and foremost, this protects the individual's identity from malicious protocols and upholds and ensure that FURs, fundamental human rights, are respected.
        </p>

        <h2>Fetures</h2>

        <ol>
            <li>PAUN pseudo-anonymous user number</li>
            <li>SIR wallet that will interface with other Dapps, and DAOs in a seamless and secure manor</li>
            <li>An organic FUR respect rating, in which organic usage stats are used to calculate the manner in which a Dapp or DAO respects the FURs enumerated in our philosophy.</li>
            <li>An API for developers to implement efficient privacy focused features that respect FUR</li>
        </ol>

        <h2>Philosophy</h2>
        <p>The way we as a society decide to treat user rights over the next 2 years will impact the very definition of what it means to be a human over the next 20 years, as even more of our lives become digital.
            The notion of an identity is a fundamental attribute of the individual, critical from the menial to meaningful events of our lives.
            However, the internet is a different place than the local or national environment our institutions were created to respect.
            Because the internet is a new environment we need to ask ourselves if the traditional ideas of an identity makes sense here.
            We believe that it dose not.
            On the web, you interact a myriad of protocols and other users, however the things you need to know about these entities, is not their political party , or the color of their eyes, its their functional utitity.
            You only need to know what is functionally relevant about the other users on the protocol.
            This is what the SIP protocol aims to allow people and DAPs to access.
        </p>

    </body>
</html>